@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: 'Bebas Neue'
}

body {
  color: var(--foreground);
}

.hero-section {
  background-size: cover;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: linear-gradient(18deg, #fe0004, #000000);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

button:active {
  transform: translateY(3px);
}